//armstrong sayısı bulma

let sayi = prompt("lütfen sayı giriniz : ");
let toplam = 0;
for(let i=0; i<sayi.length; i++){
    let rakam = sayi.charAt(i);
    toplam += rakam**3;
}
if(Number(sayi) == toplam){
    alert(sayi + " armstrong sayıdır.");
}
else{
    alert(sayi + " armstrong sayı değildir.");
}
